@model WebProject.Models.Shipper

<h2>Shipper Details</h2>

<div>
    <p>ID: @Model.id</p>
    <p>Name: @Model.name</p>
    <p>City: @Model.city</p>
    <p style="width: 40%;margin-bottom: 100px">FedEx Delivery Manager® helps you customize when, where, and how you get packages. Enroll for free, then download the FedEx® Mobile app. You’ll be able to use your phone to make deliveries even more convenient.Consolidate your errands to save time and reduce emissions. Drop off shipments at retail locations including FedEx Office, Office Depot® OfficeMax®, Walgreens, and select grocery stores. Some are even open 24 hours.</p>
</div>
<a href="@Url.Action("Index", "Home")" style="padding: 10px 20px; background-color: #0dcaf0; color: white; border-radius: 5px;">&lt;&lt;Back</a>